<div class="container mt-5">
  <div class="row justify-content-center">
    <h2 class="text-center mb-5">Buy your bus tickets at the best price!</h2>
    <div class="col d-none d-lg-block">
      <img
        class="img img-fluid"
        src="assets/planjourney.svg"
        alt="Trip Image"
      />
    </div>
    <div class="col col-lg-6 col-md-10 col-sm-12">
      <div class="card">
        <h5 class="card-header">Plan Trip</h5>
        <div class="card-body p-4">
          <form [formGroup]="tripInfo" (ngSubmit)="onSubmit()">
            <div
              *ngIf="submitted && destination?.errors"
              class="alert alert-danger"
            >
              Source and destination can not be same.
            </div>

            <div class="form-row">
              <div class="form-group col">
                <label for="departure">Leaving From</label>
                <select
                  class="form-control"
                  id="departure"
                  name="departure"
                  formControlName="departure"
                >
                  <option *ngFor="let city of departureCities" [value]="city">
                    {{ city }}
                  </option>
                </select>
                <div
                  *ngIf="
                    departure?.invalid &&
                    (departure?.dirty || departure?.touched || submitted)
                  "
                  class="text-danger"
                >
                  <small *ngIf="departure?.errors"
                    >Source Location is required</small
                  >
                </div>
              </div>

              <div class="form-group col">
                <label for="destination">Going To</label>
                <select
                  class="form-control"
                  id="destination"
                  name="destination"
                  formControlName="destination"
                >
                  <option *ngFor="let city of destinationCities" [value]="city">
                    {{ city }}
                  </option>
                </select>
                <div
                  *ngIf="
                    destination?.invalid &&
                    (destination?.dirty || destination?.touched || submitted)
                  "
                  class="text-danger"
                >
                  <small *ngIf="destination?.errors"
                    >Destination Location is required</small
                  >
                </div>
              </div>
            </div>
            <div class="form-row justify-content-center">
              <div class="form-group col-8">
                <label for="date">Departure Date</label>
                <input
                  class="form-control"
                  id="date"
                  name="date"
                  type="date"
                  formControlName="date"
                />
                <div
                  *ngIf="
                    date?.invalid && (date?.dirty || date?.touched || submitted)
                  "
                  class="text-danger"
                >
                  <small *ngIf="date?.errors">Journey date is required</small>
                  <small *ngIf="date?.errors"
                    >Journey date is Invalid.(Do not enter old date)</small
                  >
                </div>
              </div>
            </div>
            <div class="row justify-content-center mt-4">
              <button type="submit" class="btn btn-primary">
                Search Buses
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
