<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <a class="text-white m-3 fs-4" href="#!" role="button"
        ><i class="bi bi-facebook"></i
      ></a>
      <a class="text-white m-3 fs-4" href="#!" role="button"
        ><i class="bi bi-twitter"></i
      ></a>
      <a class="text-white m-3 fs-4" href="#!" role="button"
        ><i class="bi bi-instagram"></i
      ></a>
    </section>
    <section class="mb-4">
      <p>
        Easybus allows you to search, compare and buy your bus ticket in cash or
        by credit card, from the different transport companies.
      </p>
    </section>
    <section class="d-flex justify-content-center">
      <ul class="list-unstyled">
        <li>
          <a href="#!" class="text-white">Destinations</a>
        </li>
        <li>
          <a href="#!" class="text-white">About Us</a>
        </li>
        <li>
          <a href="#!" class="text-white">Join Us</a>
        </li>
        <li>
          <a href="#!" class="text-white">General terms of use</a>
        </li>
      </ul>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright: Kamal Ezzarmou
  </div>
</footer>
