<div class="row shadow p-3 mb-5">
  <div class="col-lg-3 d-flex align-items-center">
    <img
      [src]="'assets/buses/' + trip.bus.company.toLowerCase() + '.jpg'"
      alt="logo"
      class="bus-logo"
    />
  </div>
  <div class="col-lg-6 d-flex flex-column align-items-center">
    <h5>{{ trip.bus.company }}</h5>
    <div class="d-flex align-items-center">
      <div class="me-3">
        <h3>{{ trip.departureTime.substring(0, 5) }}</h3>
        <span class="small-text">{{ trip.departureCity }}</span>
      </div>
      <div class="divider"></div>
      <div class="mx-3">
        <i class="bi bi-clock"></i>
        <span class="small-text ps-1">{{ trip.duration }}</span>
      </div>
      <div class="divider"></div>
      <div class="ms-3">
        <span class="medium-text d-block">{{
          trip.destinationTime.substring(0, 5)
        }}</span>
        <span class="small-text">{{ trip.destinationCity }}</span>
      </div>
    </div>
    <div class="mt-3">
      Equipments :
      <ng-container *ngFor="let equip of trip.bus.equipments">
        <img
          class="mx-1"
          [src]="'assets/equips/' + equip.toLowerCase() + '.png'"
        />
      </ng-container>
    </div>
  </div>
  <div
    class="col-lg-3 d-flex flex-column align-items-center justify-content-center"
  >
    <h3 class="text-primary">{{ trip.price }} DH</h3>
    <a class="btn btn-primary mt-3" routerLink="{{ trip.id }}">Choose a seat</a>
  </div>
</div>
