.medium-text {
  font-size: x-large;
}

.small-text {
  font-size: medium;
  color: gray;
}

.divider {
  height: 1px;
  width: 50px;
  background-color: black;
}

.bus-logo {
  width: 90%;
}

@media screen and (max-width: 992px) {
  .bus-logo {
    display: none;
  }
}
