<div class="row shadow p-3 mt-5">
  <div class="col-lg-3 d-flex align-items-center">
    <img
      [src]="'assets/buses/' + trip.busCompany.toLowerCase() + '.jpg'"
      alt="logo"
      class="bus-logo"
    />
  </div>
  <div class="col-lg-6 d-flex flex-column align-items-center">
    <h5>{{ trip.busCompany }}</h5>
    <div class="d-flex align-items-center">
      <div class="me-3">
        <h3>{{ trip.departureTime.substring(0, 5) }}</h3>
        <span class="small-text">{{ trip.departureCity }}</span>
      </div>
      <div class="divider"></div>
      <div class="mx-3">
        <i class="bi bi-clock"></i>
        <span class="small-text ps-1">{{ trip.duration }}</span>
      </div>
      <div class="divider"></div>
      <div class="ms-3">
        <span class="medium-text d-block">{{
          trip.destinationTime.substring(0, 5)
        }}</span>
        <span class="small-text">{{ trip.destinationCity }}</span>
      </div>
    </div>
    <div class="mt-3">
      Equipments :
      <ng-container *ngFor="let equip of trip.busEquipments">
        <img
          class="mx-1"
          [src]="'assets/equips/' + equip.toLowerCase() + '.png'"
        />
      </ng-container>
    </div>
  </div>
  <div
    class="col-lg-3 d-flex flex-column align-items-center justify-content-center"
  >
    <h3 class="text-primary">{{ trip.price }} DH</h3>
    <button
      class="btn btn-primary mt-3"
      *ngIf="!isLoggedIn"
      (click)="openModal(content)"
    >
      Choose a seat
    </button>
    <button class="btn btn-primary mt-3" *ngIf="isLoggedIn">Update trip</button>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Select your seat</h5>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center">
        <div
          class="col col-lg-4 col-md-6 col-sm-12"
          placement="right"
          ngbTooltip="Click on seat icons to select seats"
        >
          <form [formGroup]="form" class="seat-form" (ngSubmit)="submit()">
            <ng-container formArrayName="seats">
              <ng-container *ngFor="let _ of seats.controls; index as i">
                <label class="seatCheckbox" [id]="i">
                  <input
                    [formControlName]="i"
                    type="checkbox"
                    [id]="i"
                    [attr.disabled]="
                      !trip.availableSeats.includes(i) ? true : null
                    "
                  />
                  <span></span>
                </label>
                <br *ngIf="i % 4 == 3" />
              </ng-container>
            </ng-container>
          </form>
        </div>
        <div class="col col-lg-5 offset-lg-1 col-md-6 col-sm-12">
          <div class="row seatstable">
            <ng-container *ngIf="selectedSeats.length; else noseaterror">
              <h3>Selected seats</h3>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Seats</th>
                    <!-- <th scope="col">Price</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of selectedSeats">
                    <td>{{ i + 1 }}</td>
                    <!-- <td>{{ trip.price | currency : "USD" }}</td> -->
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-template #noseaterror>
              <div class="alert alert-danger" *ngIf="submitted" role="alert">
                *You must select atleast one seat before proceeding.
              </div>
              <img
                src="assets/nodata.svg"
                class="img img-fluid"
                *ngIf="!submitted"
              />
            </ng-template>
          </div>
          <div class="row total">
            <h4>
              Total :
              {{ selectedSeats.length * trip.price | currency : "USD" }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-primary btn-block"
        type="submit"
        (click)="submit()"
      >
        Confirm
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modal.dismiss('Cross click')"
      >
        Close
      </button>
    </div>
  </ng-template>
</div>
