a {
  cursor: pointer;
  color: black;
}

nav {
  height: 60px;
}

.dropdown {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar-nav {
    display: none;
  }

  .dropdown {
    display: block;
  }
}
