<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2 shadow p-3">
      <h6>maxPrice</h6>
      <div class="slidecontainer">
        <input
          type="range"
          min="1"
          max="200"
          [value]="maxPrice"
          [(ngModel)]="maxPrice"
          class="slider"
          id="myRange"
        />
      </div>
      <span class="text-center">< {{ maxPrice }}</span>
      <h6 class="mt-3">Departure time</h6>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="morning"
          id="flexCheckMorning"
          (change)="changeDepartureTimes($event)"
          checked
        />
        <label class="form-check-label" for="flexCheckMorning">
          Morning (00-11)
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="afternoon"
          id="flexCheckAfternoon"
          (change)="changeDepartureTimes($event)"
          checked
        />
        <label class="form-check-label" for="flexCheckAfternoon">
          Afternoon (11-15)
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="evening"
          id="flexCheckEvening"
          (change)="changeDepartureTimes($event)"
          checked
        />
        <label class="form-check-label" for="flexCheckEvening">
          Evening (15-00)
        </label>
      </div>
      <h6 class="mt-3">Equipments</h6>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="wifi"
          (change)="changeEquipments($event)"
          id="flexCheckWifi"
        />
        <label class="form-check-label" for="flexCheckWifi"> Wifi </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="tv"
          (change)="changeEquipments($event)"
          id="flexCheckTV"
        />
        <label class="form-check-label" for="flexCheckTV"> TV </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="air_conditioner"
          (change)="changeEquipments($event)"
          id="flexCheckAir"
        />
        <label class="form-check-label" for="flexCheckAir">
          Air conditioner
        </label>
      </div>
    </div>
    <div class="col-lg-10 d-flex flex-column align-items-center">
      <div *ngFor="let trip of trips">
        <app-trip [trip]="trip"></app-trip>
      </div>
    </div>
  </div>
</div>

<!--   *ngIf="
            trip.price <= this.maxPrice &&
            departureTimes.includes(period(trip)) &&
            hasAll(trip.busEquipments)
          "      -->
