<section class="d-flex justify-content-center">
  <form class="mt-5" [formGroup]="form" (ngSubmit)="handleLogin()">
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <h3 class="mt-2 mb-4">Sign In</h3>

    <div class="form-outline mb-4">
      <label class="form-label" for="email">Email address</label>
      <input
        type="email"
        id="email"
        class="form-control form-control-lg"
        placeholder="Enter a valid email address"
        formControlName="email"
      />
    </div>

    <div
      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="email?.errors?.['required']">Email is required</div>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-3">
      <label class="form-label" for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control form-control-lg"
        placeholder="Enter password"
        formControlName="password"
      />
    </div>

    <div
      *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="password?.errors?.['required']">Password is required</div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <!-- Checkbox -->
      <!-- <div class="form-check mb-0 d-flex align-items-center">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="form2Example3"
            />
            <label class="form-check-label" for="form2Example3">
              Remember me
            </label>
          </div> -->
      <a href="#!" class="text-body">Forgot password?</a>
    </div>

    <div
      class="text-center text-lg-start mt-4 pt-2 d-flex align-items-center flex-column"
    >
      <button type="submit" class="btn btn-primary btn-lg px-4 py-2">
        Login
      </button>
      <p class="small fw-bold mt-2 pt-1 mb-0">
        Don't have an account?
        <a routerLink="/register" class="link-primary">Register</a>
      </p>
    </div>
  </form>
</section>
