<div class="reservation-summary">
  <h2>Reservation Summary</h2>
  <div class="summary-item">
    <label>Name: </label>
    <span>{{ this.firstName + " " + this.lastName }}</span>
  </div>
  <div class="summary-item">
    <label>Email: </label>
    <span>{{ this.email }}</span>
  </div>
  <div class="summary-item">
    <label>Date: </label>
    <span>January 1, 2024</span>
  </div>
  <div class="summary-item">
    <label>Time: </label>
    <span>10:00 AM</span>
  </div>
  <div class="summary-item">
    <label>Seat Number:</label>
    <span>{{ this.seats }}</span>
  </div>
  <div class="summary-item">
    <label>Departure City: </label>
    <span>{{ this.departure }}</span>
  </div>
  <div class="summary-item">
    <label>Destination City: </label>
    <span>{{ this.destination }} </span>
  </div>
  <div class="summary-item">
    <label>Price: </label>
    <span>{{ this.price }}</span>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="generateTicket()">
      Generate Ticket
    </button>
  </div>
</div>
